<%# @messages.each do |msg| %>
  <div class="event">
    <div class="content">
      <div class="summary">
        <%= message.user.username %>: <em><%= message.body %></em>
      </div>
    </div>
  </div>
<%# end %>